    * {
        box-sizing:border-box;
    }
    body {
        font-family:Arial, Helvetica, sans-serif;
        background-color: #003049;
    }
    header {
        background-color: #003049;
        text-align: center;
        color:aliceblue;
        font-size: 35px;
        font-weight:30px;
        text-decoration: dashed overline underline;
        padding: 20px;
        text-transform:uppercase;
        text-shadow: 2px 2px black;
    }
    nav {
        background-color: #d62828;
        width: 30%;
        float: left;
        padding: 20px;
        font-size: 40px;
        height: 274px;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
    }
    article {
        float: right;
        padding: 20px;
        width: 70%;
        background-color: #fcbf49;
    }
    section::after {
        content: "";
        display: table;
        clear: both;
    }
    footer {
        background-color: #003049;
        padding: 10px;
        text-align: center;
        color: white;
    }
    